@using VideoStreamingService.Data.ViewModels;
@model FormattedVideo

<div id="container_@Model.Url" class="d-flex align-items-center rounded mb-3">
	<div class="position-relative col-7 col-md-6 to-hover">
		<a href="~/Video/watch?url=@Model.Url">
			<img id="@Model.Url" class="rounded-3 preview" style="aspect-ratio: 16/9" src="~/Videos/@Model.Url/@(Model.Thumbnail).jpg" onerror="this.src='/thumbnail.jpg'" loading="lazy">
			<p class="badge position-absolute bottom-0 start-0 bg-dark text-wrap opacity-75" style="margin:6px">@Model.LengthString</p>
			<p class="badge position-absolute bottom-0 end-0 bg-dark text-wrap opacity-75" style="margin:6px">@Model.ResolutionString</p>

		</a>
		<a class="top-0 end-0 to-show position-absolute p-0" style="margin:6px;width:32px;height:32px" href="~/Video/Edit?url=@Model.Url">
			@if (Model.AllowEdit)
			{
				<div class="position-relative bg-dark opacity-75 rounded-circle w-100 h-100 m-0">
					<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="white" class="bi bi-pencil position-absolute top-50 start-50 translate-middle m-0" viewBox="0 0 16 16">
						<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
					</svg>
				</div>
			}
		</a>
	</div>
	<div class="ms-2 flex-column col-5 col-md-6 align-self-start">
		<ul class="list-unstyled mt-1">
			<li>
				<a class="text-decoration-none text-reset" title="@Model.Title" href="~/Video/watch?url=@Model.Url">
					<div class="crop-text-2 fw-bold">@Model.Title</div>
				</a>
			</li>
			<li>
				<a class="text-decoration-none crop-text-1 text-reset" href="~/@Model.User.Url" title="@Model.User.Name">
					@Model.User.Name
				</a>
			</li>
			<li class="mb-2">
				<div class="d-flex">
					<div class="fs-6" title="@Model.LongViewsString()">@Model.ViewsString()</div>
					<div class="fs-6 ms-auto"
						title="@(Model.UploadDateString), @(Model.Uploaded.ToString("t"))">
						@Model.UploadDateString
					</div>
				</div>
			</li>
			@if (ViewData["FeedType"] == Statics.FeedTypeEnum.Search.ToString())
			{
				<li>
					<p class="fs-6 crop-text-3 opacity-75">@Model.Description</p>
				</li>
			}
		</ul>
	</div>
</div>